.user-profile{
    background: url('../plugins/images/profile-menu-dark.png') center center/cover no-repeat;
}

.user-profile .user-pro-body .u-dropdown{
    color: #ffffff;
}

#project-timeline .steamline .sl-left{
    margin-left: -7px;
}

#section-line-1, #section-line-2, #section-line-3{
    padding: 0;
}


.select2-container-multi .select2-choices .select2-search-choice{
    border: 1px solid #929291;
    border-radius: 60px;
    background: #edda54;
    padding: 5px 5px 5px 20px;
    font-size: 12px;
}


.select2-container-multi .select2-search-choice-close{
    left: 7px;
    top: 4px;
}

.task-checkbox{
    display: inline;
}

.task-completed{
    background: #defbe3;
}

.task-completed label{
    color: #c5c5c5;
}

.task-completed .edit-task{
    text-decoration: line-through;
}

/*task ease transition*/
#task-list-panel {
    -webkit-transition: width 0.3s ease, margin 0.3s ease;
    -moz-transition: width 0.3s ease, margin 0.3s ease;
    -o-transition: width 0.3s ease, margin 0.3s ease;
    transition: width 0.3s ease, margin 0.3s ease;
}

.stop-timer-modal{
    width: 170px;
}

#active-timer-modal{
    font-size: xx-large;
}

@media (min-width: 768px){
    .sidebar {
        padding-top: 83px;
    }
}
.client-panel-name{
    padding: 3px 0 0 8px;
    color: white;
    text-align: center;
    text-transform: uppercase;
    background: #00c292;
}

.member-panel-name{
    padding: 3px 0 0 8px;
    color: white;
    text-align: center;
    text-transform: uppercase;
    background: #f1c411;
}


.admin-panel-name{
    padding: 3px 0 0 8px;
    color: white;
    text-align: center;
    text-transform: uppercase;
    background: #ed4040;
}

.project-admin-panel-name{
    padding: 3px 0 0 8px;
    color: white;
    text-align: center;
    text-transform: uppercase;
    background: #5475ed;
}

.chat-main-box .chat-left-aside{
    border: 0;
}

.chat-right-aside{
    border-left: 1px solid rgba(120,130,140,.13);
}

.logo{
    overflow: hidden;
    display: block;
}

.logo b{
    float: left;
}

.logo span{
    display: block;
    margin-top: 19px;
}

.logo img{
    max-height:40px;
    display:inline-block;
    max-width:200px;
    line-height:60px;
    text-align:center;
    margin: 10px 0;
}
/*.admin-logo{*/
    /*background-color: #ed4040;*/
/*}*/
/*.member-logo{*/
    /*background-color: #f7c80c;*/
/*}*/
/*.client-logo{*/
    /*background-color: #00c292;*/
/*}*/
/*.project-admin-logo{*/
    /*background-color: #5475ed;*/
/*}*/

.error-box{background:url(../plugins/images/error-bg.jpg) center center no-repeat #fff!important;}

.login-register{
    background: url(../login-bg.jpg) center center/cover no-repeat!important;
}

.form-material .form-control, .form-material .form-control.focus, .form-material .form-control:focus{
    background-image: linear-gradient(#000000,#a4a3a5),linear-gradient(rgba(120,130,140,.13),rgba(120,130,140,.13));
}

.auth-logo{
    font-size: 25px;
    margin: 7px 10px;
}

.language-switcher{
    margin: 12px 5px 0 0;
}

.language-switcher .dropdown-toggle, .language-switcher .dropdown-toggle:hover, .language-switcher .dropdown-toggle:focus, .language-switcher .dropdown-toggle:active{
    background: rgba(255, 255, 255, 0.05);
    font-weight: 200;
    color: #FFFFFF;
}

.datepicker-dropdown{
    z-index: 9999 !important;
}

.vtabs{
    width: 100%;
}
.vtabs .tabs-vertical{
    width: 180px;
}

@media screen and (max-width: 58em){
    .sttabs nav a span {
        display: block;
    }
}

.table-responsive{
    overflow: visible;
}

.table-responsive .dropdown-menu{
    right: 0;
    left: auto;
}

.top-left-part a{
    height: 60px;
}

#ticket-messages{
    max-height: 350px;
    overflow-y: auto;
}

#footer-sticky-notes{
    right: 12px;
    background: rgba(0, 0, 0, 0.80);
    bottom: 0;
    position: fixed;
    width: 300px;
    z-index: 3;
}

#sticky-note-header{
    padding: 10px;
    color: #ffffff;
    border-bottom: 1px solid #ccc;
}

#sticky-note-list{
    padding: 0 5px;
    overflow-y: auto;
}

#sticky-note-list .sticky-note{
    margin: 5px 0;
    color: #FFFFFF;
}

#sticky-note-list .sticky-note .well{
    margin-bottom: 0;
}

#sticky-note-list .sticky-note .well hr{
    border-color: #FFFFFF;
}

.board-column{
    background-color: #fbfbfb;
    /*margin-left: 10px;*/
}

.board-column .panel-body{
    padding: 10px;
    font-size: 1.3rem;
}

.lobipanel .panel-body{
    cursor: move;
}

.board-column .panel-heading a i{
    font-size: 18px;
}

.p-t-5{
    padding-top: 5px !important;
}
.p-b-5{
    padding-bottom: 5px !important;
}
.p-t-15{
    padding-top: 15px !important;
}
.p-b-15{
    padding-bottom: 15px !important;
}

@media (min-width: 992px) {
    .container-scroll > .container-row {
        overflow-x: auto;
        white-space: nowrap;
    }

    .container-scroll > .container-row > .col-md-3 {
        display: inline-block;
        float: none;
        white-space: normal;
    }

    /* Overwrite the default to keep the scrollbar always visible */

    ::-webkit-scrollbar {
        -webkit-appearance: none;
        height: 7px;
        width: 7px;
    }

    ::-webkit-scrollbar-thumb {
        border-radius: 4px;
        background-color: rgba(0,0,0,.5);
        -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
    }
}

.container-scroll > .container-row {
    margin-top: 24px;
}

.two-part li span, .two-part li i{
    font-size: 25px;
}

.permission-section{
    background: #fdfdfd;
    padding: 0;
}

.role-members{
    padding-bottom: 16px !important;
    padding-top: 17px !important;
}

ul.thumbnails.image_picker_selector li{
    margin-right: 5px;
}

.mailbox{
    max-height: 350px;
    overflow-y: auto;
}

#top-notification-count{
    padding: 0px 8px;
    background: #ff0000;
    color: #ffffff;
    border-radius: 50%;
}

.user-pro{
    background-color: #F5F5F5;
}

.m-t-25 {
    margin-top: 25px !important
}

.login-box{
    box-shadow: -2px 6px 40px -12px rgba(79,79,79,1);
}

@media (max-width: 1024px){
    .admin-panel-name{
        padding: 1rem;
    }
    .sidebar #side-menu .user-pro>a{
        padding: 17px 5px 16px 15px !important;
    }

    .top-left-part .logo{
        display: none;
    }
}


.shw-rside{
    width: 40%;
}

.task-description{
    font-size: 12px;
    margin-top: 10px;
    max-height: 10vh;
    overflow-y: auto;
}

#sub-task-list{
    max-height: 21vh;
    overflow-y: auto;
    overflow-x: hidden;
}

#comment-container{
    position: relative;
    min-height: 30vh;
}

#comment-box{
    position: absolute;
    bottom: 10px;
    width: 95%;
    margin-bottom: 0;
}

#comment-list{
    max-height: 20vh;
    overflow-x: hidden;
    overflow-y: auto;
}

.login-box{
    margin: 5% auto 0;
}

/*gantt chart*/

.gantt_add, .gantt_grid_head_add{
    background-image: none;
}

.gantt_task_progress_drag{
    display: none !important;
}

.gantt_link_point{
    display: none !important;
}

.gantt_task_drag.task_left, .gantt_task_drag.task_right{
    cursor: default;
}

.gantt_grid{
    background: #ffffff;
}

.gantt_grid_data .gantt_row, .gantt_grid_data .gantt_row.odd{
    background-color: #ffffff;
}

.sidebar #side-menu .user-pro>a{
    font-size: 1.2rem;
}

@media screen and (max-width: 768px) {
    .vtabs, .vtabs .tab-content{
        display: block;
    }
}

.sidebar #side-menu .user-pro>a {
    padding: 17px 4px 16px 15px!important;
}